body{
font-family: Arial;
margin:40px;
}

#chat{
border:1px solid #ccc;
height:300px;
width:500px;
padding:14px;
overflow-y:auto;
background:#f9f9f9;
margin-bottom:11px;
}

input{
width:350px;
padding:6px;
}

button{
padding:5px 10px;
margin-left:5px;
}

p{
margin:5px 0;
}
